{# this macro renders the navigation bar for examples #}
{% macro nav( item ) %}
    <div class="example-nav nav">
        <div class="filter-choices">
            <div class="filter-label">
                <a class="block filter-button">Filter By:</a>
            <div>
            <div class="filter-choice active" data-filter="category">
                <a class="block filter-button">Category</a>
            </div>
            <div class="filter-choice" data-filter="reference">
                <a class="block filter-button">Reference</a>
            </div>
        </div>
    </div>
{% endmacro %}

{# this macro renders the table of contents for the examples #}
{% macro tableOfContents( item ) %}
    <div class="contents-label hidden"><h3><span>Example Categories</span></h3></div>
    <ul class="example-contents contents">
        {% for section in item.objects %}
            <li class="example-contents-item contents-item">
                <a class="local" data-unfold-trigger="#{{ name( section ) }}" href="#{{ name( section ) }}">{{ title( name( section ) ) }}</a>
            </li>
        {% endfor %}
        {% for section in item.processes %}
            <li class="example-contents-item contents-item">
                <a class="local" data-unfold-trigger="#{{ name( section ) }}" href="#{{ name( section ) }}">{{ title( name( section ) ) }}</a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{# this macro renders the header for examples #}
{% macro header( item ) %}
    <div class="example-header header">
        <div class="header-text-box">
            <h1 class="example-title title">Examples</h1>
            <p class="example-header-section-description header-section-description">
                This collection of examples showcases different uses of the decodes library.
                This set is a community curated collection. You can contribute to it by forking <a href="http://path-to-example-git-repo.com/">this
                git repository</a>, adding and example, and making a pull request.
            </p>
        </div>

        {{ tableOfContents( item ) }}

    </div>
{% endmacro %}

{# this macro renders the header for examples #}
{% macro division( name, filter ) %}
    <div class="example-division division" data-filter="{{ filter }}">
        <h4 class="example-division-label division-label">{{ name }}</h4>
        <span class="example-division-fold-icon division-fold-icon">&#9654;</span>
    </div>
{% endmacro %}

{# this macro renders a card for an examples #}
{% macro card( example ) %}
    {% set references = exampleReferences( example ) %}
    <li class="example-card card">
        <a class="example-card-link card-link block" href="{{ url( example ) }}">
            <div class="example-card-body card-body">
                <h3 class="example-card-title card-title"><span>{{ title( name( example ) )}}</span></h3>
                <h4 class="example-count"><span class="bold">{{ example|array|size }} Example{{ example|array|pluralize('s') }}</span>, {{ references|array|size }} Class Reference{{ references|array|pluralize('s') }}.</h4>
            </div>
        </a>
        <ul class="example-source-references">
            {% for referenceCount in references %}
                <li class="example-source-reference">
                    <div class="example-source-icon">
                        <a class="block" href="{{ lookup( loop.key ) }}">{{ condense( loop.key ) }}</a>
                        <span class="example-source-reference-count">{{ referenceCount }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{# this macro renders a section of examples. it chains together the examples and division cards #}
{% macro section( contents, state, filter ) %}

    <div id="{{ name( contents )|replace('-', ' ', 'g') }}" class="examples-list content-list" data-fold-state="{{ state }}">

        {{ division( title( name( contents ) ), filter ) }}

        <ul class="examples-in-section children-in-section">

            {% for example in contents %}

                {{ card( example ) }}

            {% endfor %}

        </ul>

    </div>

{% endmacro %}
