<menu data-menu-state="closed">

    <section class="menu-input-region region">
        <input id="search-input" type="text" placeholder="Search Decodes..." />
        <p class="search-description small">
            Search Decodes source code and examples by name, keyword, or example number.
        </p>
    </section>

    <section class="menu-result-region region">
        <div class="examples-results">
            <div class="division">
                <h4 class="division-label">Examples</h4>
            </div>
            <ul id="examples-results-field">
            </ul>
        </div>
        <div class="documentation-results">
            <div class="division">
                <h4 class="division-label">Documentation</h4>
            </div>
            <ul id="documentation-results-field">
            </ul>
        </div>
    </section>

</menu>
