{# this macro renders the header for source #}
{% macro header() %}
    <div class="source-header header">
    </div>
{% endmacro %}

{# this macro renders the navigation bar for source #}
{% macro nav() %}
    <div class="source-nav nav">
    </div>
{% endmacro %}

{# this macro renders the header for source #}
{% macro division() %}
    <div class="source-division division">
    </div>
{% endmacro %}

{# this macro renders a card for an source #}
{% macro card() %}
    <div class="source-card card">

    </div>
{% endmacro %}
