{% extends "partials/base.html" %}

{% import "partials/examples.html" as examples %}
{% import "partials/source.html" as source %}

{% block body-attributes %}class="examples-home"{% endblock %}

{% block content %}

    <section class="region">

        {{ examples.header( item ) }}

    </section>

    <section class="region">

        {% set state = "open" %}

        {% for object in item.objects %}

            {{ examples.section( object, state ) }}

        {% endfor %}

        {% set state = "open" %}

        {% for object in item.processes %}

            {{ examples.section( object, state ) }}

        {% endfor %}

    </section>

{% endblock %}
