@include media-lg {
    .region {
        @include outer-container( $lg-containter-percentage );
        margin:0 auto;
    }
}

@include media-md {
    .region {
        @include outer-container( $md-containter-percentage );
        margin:0 auto;
    }
}

@include media-sm {
    .region {
        @include outer-container( $sm-containter-percentage );
        margin:0 auto;
    }
}

@include media-xs {
    .region {
        @include outer-container( $xs-containter-percentage  );
        margin:0 auto;
    }
}

main {
    padding-top:10em;
}
