header {
    @include transition( all, $body-transition-duration );
    z-index: $header-z-index;

    a {
        color: $body-header-color;
    }
}

.nav-item {
    background-color: $body-header-light-color;
    text-align: center;
    border-bottom: 0;

    font-size: .9em;

    &.active {
        background-color: $body-header-light-color;
        border:$primary-division-width solid $body-header-color;
    }

    &:hover {
        background-color: $body-header-color;

        .nav-item-link {
            color:$body-white-color;
        }

        .nav-item-search-prompt {
            color:$body-header-color;
        }
    }

}

.menu-toggle {
    &.active {
        background-color: $body-header-color;

        .nav-item-link {
            color:$body-white-color;
        }
    }
}

.nav-item-sublist {

    background-color: $body-white-color;
    border: $primary-division-width solid $body-header-color;

    z-index: $sublist-menu-z-index;

    max-height: 50vh;
    overflow-y: scroll;
    cursor:ns-resize;

    .nav-item-sublist-item {
        @include span-columns(1 of 1);

        border-bottom: $primary-division-width solid $body-header-color;

        a {
            padding-top:.5em;
            padding-bottom:.5em;
            display: block;
            border: 0px;

            &:hover {
                background-color: $body-header-light-color;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

    }

}

.nav-item-search-prompt {
    @include span-columns(2 of 2);
    position: absolute;
    top:40px;
    left:0px;

}

header[data-header-state="fixed"], header[data-header-state="search"] {
    @include span-columns(12 of 12);

    position:absolute;
    top:0;
    right:-2.5%;

    width:100%;

    border-top: 2*$primary-division-width solid $body-header-color;

    .nav-item {
        @include span-columns(2 of 12);
        position: relative;

        margin-top:2em;
        padding:.5em;
        margin-bottom:2em;

        &:last-child {
            @include shift(4 of 12);
        }

    }

    .nav-item-sublist {
        @include span-columns(26 of 12);

        position: absolute;
        top: 70px;
        left:-60%;
    }

}

header[data-header-state="free"] {

    position:fixed;

    .nav-item {
        border-top: 2*$primary-division-width solid $body-header-color;
        margin-bottom:.5em;
    }

    .nav-item-sublist {
        @include span-columns(26 of 12);

        position: absolute;
        top: 50px;
        left:-60%;
    }

}

header[data-header-state="search"] {
    position: fixed;
}

@include media-lg() {
    header[data-header-state="free"] {
        @include span-columns(5 of 12);

        right:-2%;
        top:4%;

        .nav-item {
            @include span-columns(3 of 12);
            position:relative;

            .nav-item-block {
                @include center();
            }

        }


    }
}

@include media-md() {
    header[data-header-state="free"] {
        @include span-columns(6 of 12);

        right:-2%;
        top:4%;

        .nav-item {
            @include span-columns(3 of 12);
            position:relative;
            min-height: 35px;

            .nav-item-block {
                @include center();
            }

        }

    }
}

@include media-sm($and-below: true) {
    header {
        font-size: 14px;
    }

    header[data-header-state="fixed"], header[data-header-state="search"] {
        .primary-nav {
            margin-top:2em;
        }

        .nav-item {
            @include span-columns( 6 of 12 );
            @include omega(2n);
            position: static;
            margin-top:0;
            margin-bottom:.5em;

        }

        .nav-item-sublist {
            @include span-columns( 10 of 12 );
            @include shift( 1 of 12 );

            position: absolute;
            top:120px;
            left:0px;
        }


    }

    header[data-header-state="free"] {
        @include span-columns(10 of 12);
        @include shift( 1 of 12 );

        right:(100% - $lg-containter-percentage) / 2;
        top:(100% - $lg-containter-percentage) / 2;

        .nav-item {
            @include span-columns(6 of 12);
            @include omega(2n);
            height: 30px;
            padding:0;
        }

        .nav-item-sublist {
            @include span-columns( 10 of 12 );
            @include shift( 1 of 12 );

            position: absolute;
            top:80px;
            left:0px;
        }

        .nav-item-block {
            padding-top: .35em;
        }

    }


}



/** ---- page headers ---- */

.header {
    @include span-columns(12 of 12);
    @include omega();

    min-height:50vh;
    margin-bottom:4em;
}

.header-text-box {
    @include span-columns(12 of 12);
}

.title {
    @include span-columns(12 of 12);
    text-align:center;
}

.header-section-description {
    @include span-columns(6 of 12 );
    @include shift(3 of 12);
    margin-bottom: 2em;

}

.contents-label {
    @include span-columns(6 of 12 );
    @include shift(3 of 12);
    text-align: center;
    margin-bottom: 1em;

    h2 span {
        border-bottom: $primary-division-width solid $body-dark-color;
    }
}

.contents {
    @include span-columns(6 of 12 );
    @include shift(3 of 12);

}

.contents-item {
    @include span-columns(2 of 6);
    margin-bottom:2em;

    text-align: center;

}

@include media-md($and-above: true) {
    .contents-item {
        @include omega( 3n  );
    }
}

@include media-sm ($and-below: true) {
    .header-section-description {
            @include span-columns(12 of 12);
            @include shift(0 of 12);
    }

    .contents {
        @include span-columns(12 of 12 );
        @include shift(0 of 12);
    }

    .contents-item {
        @include span-columns(3 of 6);
        @include omega( 0n  );
        @include omega( 2n  );
    }
}
