$body-white-color: #ffffff;
$body-ultralight-color: lighten(#cccccc, 5);
$body-light-color: #cccccc;
$body-medium-color: #777777;
$body-dark-color: #353535;
$body-black-color: #252525;
$body-base-color: $body-black-color;
$body-transition-duration:.5s;

$body-brand-color:red;
$body-brand-light-color:lighten($body-brand-color, 45);

$body-header-color:$body-brand-color;
$body-header-light-color:$body-brand-light-color;

$body-header-color:blue;
$body-header-light-color:lighten($body-header-color, 45);

$body-font-size: 16px;

$lg-size: 1280px;
$md-size: 950px;
$sm-size: 540px;

$lg-containter-percentage:90%;
$md-containter-percentage:90%;
$sm-containter-percentage:85%;
$xs-containter-percentage:78%;

$page-margin: 50px;

$overlay-z-index:2000;
$sublist-menu-z-index:950;
$header-z-index:750;
$menu-z-index:500;
$body-z-index:0;

$primary-division-width: 2px;
$secondary-division-width: 1px;

$anchor-underline: 2px;


@mixin media-lg() {
    @media screen and (min-width: $lg-size) {

        @content;

    }
}

@mixin media-md() {
    @media screen and (min-width: $md-size) and (max-width: $lg-size) {

        @content;

    }
}

@mixin media-sm() {
    @media screen and (min-width: $sm-size) and (max-width: $md-size) {

        @content;

    }
}

@mixin media-xs() {
    @media screen and (max-width: $sm-size) {

        @content;

    }
}

@mixin border-radius( $radius ) {
    @include border-top-radius( $radius );
    @include border-bottom-radius( $radius );
}

@mixin vertical-center() {
    position:absolute;
    top:50%;
    @include transform( translateY( -50% ) );
}

@mixin horizontal-center() {
    position:absolute;
    left:50%;
    @include transform( translateX( -50% ) );
}

@mixin center() {
    position:absolute;
    left:50%;
    top:50%;
    @include transform( translate( -50%, -50% ) );
}
