{% extends "partials/base.html" %}

{% block content %}

<h1 class="source-name">{{ name( item ) }}</h1>

<h2 class="source-documentation">{{ item.documentation }}</h2>

<pre><code>{{ item.definedIn }}</code></pre>


{% if item.references %}

<div class="source-references">
	{% if item.references.classes %}
	<ul class="source-references-classes">
		{% for amount in item.references.classes %}
			<li class="">{{ loop.key }} – {{ amount }} Time(s).</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if item.references.functions %}
	<ul class="source-references-functions">
		{% for amount in item.references.functions %}
			<li class="">{{ loop.key }} – {{ amount }} Time(s).</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>

{% endif %}


{% if item.definitions %}

<ul class="source-references">

	{% for definition in item.definitions %}
	
	<li class="source-definition">
		<h3 class="definition-name">{{ definition.name }}</h3>
		{% if definition.documentation %}

		
			{% if definition.documentation.description %}

				{% for line in definition.documentation.description %}

					<p>{{ resolve( line ) }}</p>

				{% endfor %}

			{% endif %}

			{% if definition.documentation.parameters and definition.documentation.types %}

				{% for param in definition.documentation.parameters %}
					
					<p>
						<bold>parameter</bold>
						<span class="parameter-description">{{ loop.key }}</span>
						<span class="parameter-type">{{ resolve( definition.documentation.types[ loop.key ] ) }}</span>
						<span class="parameter-description">{{ resolve( param ) }}</span>
					</p>

				{% endfor %}

			{% endif %}

			{% if definition.documentation.rvalue and definition.documentation.rtype %}
					
					<p>
						<bold>return</bold>
						<span class="return-type">{{ resolve( definition.documentation.rtype ) }}</span>
						<span class="return-description">{{ resolve( definition.documentation.rvalue ) }}</span>
					</p>

			{% endif %}


		

		{% endif %}

	</li>

	{% endfor %}

</ul>

{% endif %}

{% endblock %}