{% extends "partials/base.html" %}

{% import 'partials/class.html' as clss %}
{% import 'partials/text.html' as text %}

{% block content %}

    <div class="class-header-region region">

        {{ clss.header( item ) }}

    </div>

    {% if item.definitions %}

        <div class="class-methods-region region">

            {% for method in item.definitions %}

                {{ clss.method( method, item ) }}

            {% endfor %}

        </div>

    {% else %}

        <div class="class-methods-region no-methods region">
            No methods.
        </div>

    {% endif %}

{% endblock %}
