{% extends "partials/base.html" %}

{% import "partials/documentation.html" as docs %}

{% block body-attributes %}class="documentation-home"{% endblock %}

{% block content %}

    <section class="region">

        {{ docs.header( item ) }}

    </section>

    <section class="region">

        {% set state = "open" %}

        {{ docs.section( "core", item.core, state ) }}

        {% set state = "open" %}

        {% for object in sortByKey( 'definedIn', item.extensions ) %}

            {% if loop.key.toLowerCase() != "constructor" %}

                {{ docs.section( convertFilename( loop.key ), object, state ) }}

            {% endif %}

        {% endfor %}

    </section>

{% endblock %}
